*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background: #ffffff;
  margin: 0;
  padding: 20px;
  color: #ffffff;
}

main, header, section, footer {
  margin: 0;
  padding: 20px;
  border: none;
  color: #ffffff;
}

main {
  background: #ffffff;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 20px 20px;
  color: #f04029;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  text-align: left;
  margin: 0;
  padding: 30px 30px;
  text-decoration: none;
  color: #000000;
}

.wrapper {
  margin: auto;
  padding: 20px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  text-align: center;
  color: #fff;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 20px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}


.nav {
	padding-top: .5em;
	padding-bottom: .5em;
	border: none;
	background-color: #f4f4f4;
}

@media (min-width: 769px) {
	.nav,
	.main-nav {
		display: flex;
	}
	.nav {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
}

@media (min-width: 1025px) {
	.nav {
		flex-direction: row;
		justify-content: space-between;
	}
}


.header {
  background: #ffffff;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

.hero {
  font-family: 'Raleway', sans-serif;
}

.background {
  background-image: url(images/Hero_Image.png);
  max-width: 100%;
  min-height: 300px;
  padding: 10vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  background: #f0efec;
  border-top: 1rem solid #ffffff;
  border-bottom: 1rem solid #ffffff;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

.sub-content-upper {
  flex: 1;
  border: none;
  background: #fdf0ec;
  border-top: 1rem solid #ffffff;
  border-bottom: 1rem solid #ffffff;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

.sub-content-lower {
  flex: 1;
  border: none;
  background: #98bec8;
  border-top: 1rem solid #ffffff;
  border-bottom: 1rem solid #ffffff;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 640px){
  .flex-container {
      display: flex;
  }    
}

.footer { 
  background: #c1605c;
  border-top: 1rem solid #ffffff;
  border-bottom: 1rem solid #ffffff;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}